<%- include( './header' ) %>
<main class="common-main">
    <section class="common-section">
        <div class="common-section__wrapper">
            <form action="/edit" method="post" enctype="multipart/form-data" class="signup-form">
                <%= message %>
                <div class="form-group">
                    <label for="text">ユーザー名</label>
                    <input type="text" value="<%= form.username %>" name="username" id="username">
                    <% if(errors){ %>
                        <% errors.find(obj=>{ %>
                            <% if(obj.param == 'username'){ %>
                                <span><%= obj.msg %></span>
                            <% } %>
                        <% }); %>
                    <% } %>
                </div>
                <div class="form-group">
                    <label for="mail">メールアドレス</label>
                    <input type="mail" value="<%= form.mail %>" name="mail" id="mail">
                    <% if(errors){ %>
                        <% errors.find(obj=>{ %>
                            <% if(obj.param == 'mail'){ %>
                                <span><%= obj.msg %></span>
                            <% } %>
                        <% }); %>
                    <% } %>
                </div>
                <div class="form-group">
                    <label for="password">パスワード</label>
                    <input type="password" value="<%= form.password %>" name="password" id="password">
                </div>
                <div class="form-group">
                    <label for="password_confirmation">パスワード確認</label>
                    <input type="password" value="<%= form.password_confirmation %>" name="password_confirmation" id="password_confirmation">
                    <% if(errors){ %>
                        <% errors.find(obj=>{ %>
                            <% if(obj.param == 'password'){ %>
                                <span><%= obj.msg %></span>
                            <% } %>
                        <% }); %>
                    <% } %>
                </div>
                <div class="form-group form-group__upload">
                    <img src="../uploads/<%= form.img %>" alt="ユーザアイコン" id="image">
                    <input type="file" id="file-change" name="file">
                    <% if(errors){ %>
                        <% errors.find(obj=>{ %>
                            <% if(obj.param == 'file'){ %>
                                <span><%= obj.msg %></span>
                            <% } %>
                        <% }); %>
                    <% } %>
                </div>
                <input type="submit" value="Edit" class="common-btn">
                <a id="delete-account" class="common-btn delete-btn">Delete account</a>
            </form>
        </div>
    </section>
    <aside class="common-sidebar">
        <div class="common-sidebar__desc">
            <h2>Welcome to <span>Micropost</span></h2>
            <p>Edit page</p>
        </div>
    </aside>
</main>
<script src="../javascripts/imageChange.js"></script>
<script src="../javascripts/deleteAccount.js"></script>
<%- include('./footer') %>