<%- include( './header' ) %>
<section class="wrapper">
    <aside class="mypage-sidebar">
        <section class="mypage-area">
            <div class="mypage-icon">
                <img src="images/user-icon.png" alt="user-icon">
            </div>
        </section>
    </aside>
    <main class="mypage-main">
        <div class="form-group">
            <label for="">ユーザー名</label>
            <input type="text" value="<%= form.username %>" disabled="disabled">
        </div>
        <div class="form-group">
            <label for="">メールアドレス</label>
            <input type="text" value="<%= form.mail %>" disabled="disabled">
            
        </div>
        <div class="form-group">
            <label for="">パスワード</label>
            <input type="password" value="<%= form.password %>" disabled="disabled">
        </div>
        <button class="edit-btn">edit</button>
    </main>

    <dialog class="mypage-detail">
        <form action="/mypage" method="post">
            <span class="close-btn"><i class="fa-solid fa-xmark fa-lg"></i></span>
            <div class="form-group">
                <img src="images/user-icon.png" alt="user-icon">
            </div>
            <% if(message){ %>
                <span class="success-message"><%= message %></span>
            <% } %>
            <div class="form-group">
                <label for="">ユーザー名</label>
                <input type="text" value="<%= form.username %>" name="username">
                <% if(errors){ %>
                    <% errors.find(obj=>{ %>
                        <% if(obj.param == 'username'){ %>
                            <span class="error-message"><%= obj.msg %></span>
                        <% } %>
                    <% }); %>
                <% } %>
            </div>
            <div class="form-group">
                <label for="">メールアドレス</label>
                <input type="text" value="<%= form.mail %>" name="mail">
                <% if(errors){ %>
                    <% errors.find(obj=>{ %>
                        <% if(obj.param == 'mail'){ %>
                            <span class="error-message"><%= obj.msg %></span>
                        <% } %>
                    <% }); %>
                <% } %>
            </div>
            <div class="form-group">
                <label for="">パスワード</label>
                <input type="password" value="<%= form.password %>" name="password">
            </div>
            <div class="form-group">
                <label for="">パスワード確認</label>
                <input type="password" value="<%= form.password %>" name="password_confirmation">
                <% if(errors){ %>
                    <% errors.find(obj=>{ %>
                        <% if(obj.param == 'password'){ %>
                            <span class="error-message"><%= obj.msg %></span>
                        <% } %>
                    <% }); %>
                <% } %>
            </div>
            <input type="submit" value="Change!!" class="change-btn">
        </form>
    </dialog>
</section>
<script src="javascripts/index.js"></script>