<%- include( './header' ) %>
<section class="wrapper">
    <aside class="mypage-sidebar">
        <section class="mypage-area">
            <div class="mypage-icon">
                <img src="images/user-icon.png" alt="user-icon">
            </div>
            <div class="post-score">
                <p>00</p>
                <p>POST</p>
            </div>
        </section>
    </aside>
    <main class="mypage-main">
        <form action="/mypage" method="post" class="mypage-detail">
            <span class="success-message"><%= message %></span>
            <div class="form-group">
                <label for="">ユーザー名</label>
                <input type="text" value="<%= form.username %>" name="username">
            </div>
            <div class="form-group">
                <label for="">メールアドレス</label>
                <input type="text" value="<%= form.mail %>" name="mail">
            </div>
            <div class="form-group">
                <label for="">パスワード</label>
                <input type="password" value="<%= form.password %>" name="password">
            </div>
            <div class="form-group">
                <label for="">パスワード確認</label>
                <input type="password" value="<%= form.password %>" name="password_confirmation">
            </div>
            <input type="submit" value="Change!!" class="change-btn">
        </form>
    </main>
</section>