<%- include("./header"); %>
  <section class="wrapper">
    <aside class="sidebar">
      <section class="user-area">
        <div class="user-icon">
          <img src="images/user-icon.png" alt="user-icon">
        </div>
        <div class="user-detail">
            <h2 id="username"><%= username %></h2>
            <p><a href="/profile">profile<img src="images/new-window.png" alt="new-window"></a></p>
        </div>
      </section>
      <section class="post-area">
        <form action="/top" method="post">
          <input type="hidden" name="username" value="<%= username %>">
          <textarea name="text" id="" cols="30" rows="10" placeholder="new micropost"></textarea>
          <input type="submit" value="post">
        </form>
      </section>
    </aside>
    <main class="micropost-main">
      <section class="archive-area">
        <ul class="archive-list">
          <% microposts.forEach((value)=> { %>
            <li class="archive-item">
              <div class="archive-item__user">
                <img src="images/user-icon.png" alt="user-icon">
                <p><span><%= value.user_name %></span></p>
              </div>
              <form action="/delete" method="post" class="archive-item__status" onsubmit="return delete_btn()">
                <input type="hidden" name="micropost_id" value="<%= value.id %>">
                <input type="submit" value="delete">
              </form>
              <div class="archive-item__post">
              <p><%= value.message %></p>
              <time>
                <%= value.createdAt %>
              </time>
            </div>
          </li> 
          <% }); %>
        </ul>
      </section>
    </main>
  </section>
<script src="../javascripts/index.js"></script>

<%- include("./footer"); %>